*{
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input{
    width: 300px;
    height: 400px;
    border: 4px solid blue;
}

.card{
    width: 300px;
    height: 400px;
    border: 4px solid red;
}

.info-and-images{
    width: 100%;
    display: flex;

}

.images{
    width: 25%;
    margin: 5px;
}

.images img{
    width: 75px;
}

.info{
    max-width: 75%;
}

.stats{
    margin:10px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.col{
    width: 50%;
}

.special{

}

