@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&family=Oswald&family=Roboto:wght@400;500&display=swap');

:root {
  --light-red: #e20000;
  --dark-red:#b40303;
  
}

*{
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input{
    width: 300px;
    height: 450px;
    border: 8px solid rgb(0, 0, 172);
    border-radius: 1px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

label{
    font-size: .75rem;
}

.card{
    width: 300px;
    height: 450px;
    border: 8px solid var(--dark-red);
    padding: 8px;
    background-color: #fffae7;
}

.info-and-images{
    width: 100%;
    display: flex;
    min-height: 20%;
}

.images{
    width: 25%;
    margin: 5px;
}

.images img{
    width: 75px;
}

.info{
    max-width: 75%;
    margin: 8px;
    display: flex;
    flex-direction: column;
}

#card-name{
    color: var(--light-red);
}

#card-type, .cost, #card-cost{
    color: var(--dark-red);
}

.cost{
    align-self: flex-end ;
    font-weight: 100;
}

.stats{
    margin:10px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.col{
    width: 30%;
    font-weight: 600;
    font-size: small;
    color:  var(--light-red);
}

.card-value{
    color: var(--dark-red);
    width: 20%;
}

.special{
    margin:12px;
}

#card-traits{
    font-size: .75rem;
}